#clockcont{

margin: auto;
width:40vw;
height: 40vw;
background:url(clock.png) no-repeat ;
background-size: 100%;
position: relative;
}
#hour,#min,#sec{
    position: absolute;
    background:black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    top: 15%;
    width: 2%;
    height: 36%;
    left: 49%;
    opacity: 0.8;

    background-color: blue;
}

#min{
    top: 23%;
    width: 2%;
    height: 26%;
    left: 49%;
    opacity: 0.8;
background-color: blueviolet;
}


#sec{
    top: 7%;
    width: 2%;
    height: 43%;
    left: 49%;
    opacity: 0.9;
    background-color: cadetblue;

}
body{
    background-color: #a2be8d;
    backdrop-filter: blur(5px);
}